// @import 'variables';
// @import '../../node_modules/bootstrap/scss/bootstrap.scss';

// event calendar
.page-template-default.page.page-id-713040,
.page-template-default.page.page-id-10099.page-parent.nowevents {
    .post-content .wp-block-group.event-flex > .wp-block-group__inner-container {
        display: flex;
        flex-direction: row;

        * a:hover {
            text-decoration: none !important;
        }

        & > div {
            padding: 0rem 1rem !important;
        }

        & > .calendar-wrapper .event-calendar {
            flex-grow: 3;

            & > * a:hover {
                text-decoration: none !important;
            }

            & > .ui-datepicker {
                max-width: 650px !important;
                width: 500px;
            }

            .ui-icon {
                background-image: none;
            }

            .ui-widget-header .ui-datepicker-prev .ui-icon:hover:before,
            .ui-widget-header .ui-datepicker-next .ui-icon:hover:before {
                color: var(--primary) !important;
            }

            table {
                border-collapse: collapse !important;
                border: 0 !important;

                thead tr th span {
                    font-size: 0.77rem;
                    font-weight: 500 !important;
                    height: 25px;
                }

                thead tr th {
                    background: #333;
                }

                thead tr th:nth-last-of-type(-n + 2) {
                    background: var(--primary);
                }

                thead tr th,
                tbody td {
                    border: 1px solid rgba(0, 0, 0, 0.5) !important;
                }
            }
            .ui-datepicker td a {
                height: 45px !important;
            }
            .ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
                background-color: #56575a !important;
                opacity: 1;
            }
        }

        & > .wp-block-group.nowevents-sidebar .wp-block-group__inner-container {
            flex-direction: row;
            padding-top: 0.95rem;

            & > * a {
                color: var(--primary);
            }

            & > .wp-block-buttons {
                flex: 100%;
            }

            & > * .wp-block-button__link.has-white-color.has-text-color.has-background {
                margin-top: 1rem;
                color: #ffffff;
            }

            & > * .wp-block-button__link.has-white-color.has-text-color.has-background:hover {
                opacity: 0.8;
            }
        }
    }

    @media (max-width: 780px) {
        .post-content .wp-block-group.event-flex > .wp-block-group__inner-container {
            flex-direction: column !important;
            padding: 0.45rem 0;

            & > .wp-block-group.nowevents-sidebar .wp-block-group__inner-container {
                padding-top: 1rem;
            }

            & > .calendar-wrapper {
                align-self: center;
                justify-self: center;

                & > .ui-datepicker {
                    max-width: none !important;
                    width: auto !important;
                }

                & > .items {
                    padding: 0 1.5rem;
                }
            }

            & > .wp-block-group.nowevents-sidebar {
                align-self: flex-start;
            }
        }
    }
}


.events .event, .items .item {
    * a:hover {
        text-decoration: none!important;
    }

    * a:hover h3 {
        color: var(--primary);
    }
}