@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #da7f8f;
}

// @include media-breakpoint-down(lg) {
    // for screen lg and up
@include media-breakpoint-between(md, lg) {
    * {
        background-color: #a7bbc7;
    }
}
